# Ignore Python compiled files
*.pyc
*.pyo
# Ignore Python cache directories
__pycache__/
# Ignore virtual environments
venv/
.env/
# Ignore database files
app.db
# Ignore uploaded files
app/uploads/
# Ignore editor and OS-specific files
.vscode/
.DS_Store